:root {
  /* Backgrouds */
  --bg-dark: #1e1b4b; /* Hero & Footer */
  --bg-light: #f8fafc; /* Info Section */
  --bg-accent: #e2e8f0; /* Quote Section */

  /* Text */
  --text-logo: #f8fafc;
  --text-light: #f8fafc; /* Main Hero Text */
  --text-muted: #c7d2fe; /* Hero Subtext / Links */
  --text-dark: #1e1b4b; /* Info & Quote Text */

  /* Accents */
  --button-color: #8b5cf6; /* Buttons */
  --indigo-tint: #e0e7ff;
  --border-color: #4338ca; /* Image placeholders */
}

body {
  font-family: "Roboto", sans-serif;
}

.mw1200 {
  max-width: 1200px;
  margin: 0 auto;
}

/* Typography */
.header-logo {
  font-size: 32px;
  font-weight: 900;
  color: var(--text-logo);
}

.hero-cta-title {
  font-size: 48px;
  color: var(--text-light);
}

.hero-cta-body {
  font-size: 18px;
  color: var(--text-muted);
}

.header-nav a {
  text-decoration: none;
  color: var(--text-muted);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.header-nav a:hover {
  color: white;
}

.hero-cta-btn {
  padding: 16px 24px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--button-color);
  color: var(--text-logo);
  border: none;
  cursor: pointer;
}

/* End Typography */

/* Hero */

.hero-container {
  background-color: var(--bg-dark);
  padding-top: 32px;
  padding-bottom: 64px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 16px;
}

.hero-content {
  display: flex;
  gap: 40px;
  margin-top: 72px;
}

.hero-content img {
  max-width: 450px;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
}

/* End Hero */

/* Main Content */

.main-section {
  margin-bottom: 96px;
  padding-top: 48px;
  margin-bottom: 96px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.info-title {
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
  font-weight: 600;
}

.main-content img {
  max-width: 200px;
  color: var(--text-dark);
}

.info-header {
  color: var(--text-dark);
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.info-header::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--button-color);
  margin: 10px auto;
}

/* End Main Content */

/* Testimonial */

.testimonial-container {
  background-color: var(--indigo-tint);
  padding: 160px 0;
}

.testimonial-text {
  font-size: 32px;
  line-height: 1.6;
  font-style: italic;
}

.testimonial-name {
  font-size: 24px;
  display: block;
  text-align: right;
  font-weight: 600;
}

/* End Testimonial */
